/* * {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
} */


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }










  /* xidmetlerimiz */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif
  }
  
  .xidmetler {
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #16384c
  }
  
  .container .card {
      max-width: 300px;
      height: 215px;
      margin: 30px 10px;
      padding: 20px 15px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out
  }
  
  .container .card:hover {
      height: 450px
  }
  
  .container .card .imgContainer {
      position: relative;
      width: 250px;
      height: 250px;
      top: -50px;
      left: 10px;
      z-index: 1;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
  }
  
  .container .card .imgContainer img {
      max-width: 100%;
      border-radius: 4px
  }
  
  .container .card .content {
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease-in-out
  }
  
  .container .card:hover .content {
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.3s
  }
  
  @media (max-width: 330px) {
      .container .card .imgContainer {
          left: -2px
      }
  }

  /* xidmetlerimiz */














  /* footer  */

/* Sticky Footer Classes */

html,
.footer {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

.footer {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

  /* footer  */